/* --- LISTA ---*/
.cardNota{
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f5eced;
    border-radius: .5rem;
    padding: .5rem;
    box-shadow: 0px .1rem 5px #6a6a6a;
    margin: 1rem;
    min-width: 10rem;
}

.cardNota-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cardNota-title{
    font-size: 2rem;
    font-weight: 400;
}

.cardNota-text{
    font-size: 1.2rem;
}

.deleteBtn{
    border: none;
    background-color: var(--color5);
    border-radius: 0.5rem;
    opacity: 0.7;
    transition: .3s;
}

.deleteBtn:hover{
    cursor: pointer;
    background-color: #c28e8e;
    opacity: 1;
}


