.form-cadastro{
    box-shadow: 0px 1px 10px #373776;
    z-index: 1;
    min-height: 100vh;
    max-width: 30vw;
    
    display: flex;
    flex-grow: 2;
    flex-direction:column;
    padding: 1rem 2rem;
    
}

.form-cadastro_input{
    margin-top: 1rem;
    padding: .5rem;
    border: none;
    background-color: var(--color5);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.form-cadastro_submit{
    align-self: flex-end;
    width: 10rem;
    background-color: var(--color3);
    color: var(--color5);
    font-weight: 700;
    font-size: 1.2rem
}

.form-cadastro_submit:hover{
    opacity: .7;
}

.form-cadastro_submit:active{
    background-color: var(--color2);
    font-size: 1.2rem
}

@media(max-width: 1020px){
    .form-cadastro{
        min-height: 30vh;
        max-height: 35vh;
        min-width: 100vw;
    }
}